{{#each error}}
    <div class="alert alert-danger my-2 alert-dismissible fade show">{{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{else}}
{{/each}}

{{#each message}}
    <div class="alert alert-info my-2 alert-dismissible fade show">{{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{else}}
{{/each}}

{{#each success}}
    <div class="alert alert-success my-2 alert-dismissible fade show">{{this}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{{else}}
{{/each}}